{% extends 'home/baseTabla.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
<br>
<p><h2>Evaluaciones realizadas y revisadas</h2></p>
<br>

<div id="tabla" class="table-responsive">
    <table id="filtro" class="display">
        <thead>
            <tr>
                <th>Número de evaluación</th>
                <th>Evaluador a cargo</th>
                <th>Número del caso</th>
                <th>Fecha de revisión</th>
                <th>Descripción de la evaluación</th>
            </tr>
        </thead>
        <tbody>
            {% for e in realizada %}
                {% if e.fecha_realizacion != blank and e.fecha_revision != blank %}
                <tr>
                    <td>{{e.id_resultado}}</td>
                    <td>{{e.evaluador_id_evaluador}}</td>
                    <td>{{e.evaluacion_caso_id_evcaso}}</td>
                    <td>{{e.fecha_revision|date:"d/m/Y"}}</td>
                    <td>{{e.descripcion}}</td>
                </tr>  
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
