{% extends 'home/baseTabla.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
<br>
<p><h2>Evaluaciones pendientes de realización</h2></p>
<br>

<div id="tabla" class="table-responsive">
    <table id="filtro" class="display">
        <thead>
            <tr>
                <th>Número del caso</th>
                <th>Fecha asignación</th>
                <th>Caso asignado</th>
                <th>Identificación evaluado</th>
            </tr>
        </thead>
        <tbody>
            {% for e in pendiente %}
                {% if e.fecha_realizacion == blank %}
                <tr>
                    <td>{{e.id_evcaso}}</td>
                    <td>{{e.evaluado_id_evaluado}}</td>
                    <td>{{e.fecha_asignacion|date:"d/m/Y"}}</td>
                    <td>{{e.casos_id_caso}}</td>          
                </tr> 
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
