{% extends 'home/baseFormulario.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}

<div>
    <h3>Hoy día es :</h3>
    {{fecha_actual}}
</div>

<form method="POST">

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card-body">
                <h2>Asignar actividades a evaluados</h2>
                <br>
                <form method="POST">
    
                    {% csrf_token %}
                        
                    {{form | crispy}}
                
                    <br>
                
                    <button class="btn btn-primary" type = 'summit'>Guardar</button>
                    <br>
                    <br>
                    <a class="btn btn-danger" href="{% url 'vistaA' %}">Cancelar</a>
                </form>
            </div> 
        </div>
    </div>  

</form>
    
{% endblock %}