{% extends 'home/baseTabla.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
<br>
<p><h2>Modificar datos de los Evaluados</h2></p>
<br>
<div class="item">
    <a class="btn btn-success" href="/creaEvaluado/"> Nuevo Evaluado</a>
</div>
<br>

<div id="tabla" class="table-responsive">
    <table id="filtro" class="table table-striped table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for e in editarEvaluado %}
                <tr>
                    <td>{{e.id_evaluado}}</td>
                    <td>{{e.nombres}}</td>
                    <td>{{e.apellido_p}}</td>
                    <td>{{e.apellido_m}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="/actualizarEvaluado/{{e.id_evaluado}}">Editar</a>
                        <a class="btn btn-sm btn-danger"href="/eliminarEvaluado/{{e.id_evaluado}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'home/js/crudTabla.js' %}"></script>
{% endblock %}
