{% extends 'home/baseFormulario.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}

<p>¿Esta seguro de eliminar al Evaluador {{evaluador.nombres}} {{evaluador.apellido_p}} {{evaluador.apellido_m}}?</p>

<form action="/eliminarEvaluador/{{evaluador.id_evaluador}}" method="POST">

    {% csrf_token %}
    <button class="btn btn-primary" id="aceptar" type = 'submit'>Aceptar</button>

    <a class="btn btn-danger" href="{% url 'editarEvaluador' %}">Cancelar</a>
</form>
{% endblock %}