{% extends 'home/baseVistasEvaluador.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
<br>
<p><h2>Evaluaciones pendientes de revisión: {{request.session.email}}</h2></p>

<div id="tabla" class="table-responsive">
    <table id="filtro" class="display">
        <thead>
            <tr>
                <th>Número de evaluación</th>
                <th>Evaluado</th>
                <th>Caso asignado</th>
                <th>Fecha de Realización</th>
                <th>Respuesta</th>
            </tr>
        </thead>
        <tbody>
            {% for e in evaluacion %}
                <tr>
                    <td>{{e.id_evcaso}}</td>
                    <td>{{e.evaluado_id_evaluado}}</td>
                    <td>{{e.casos_id_caso}}</td>
                    <td>{{e.fecha_realizacion}}</td>
                    <td><a class='btn btn-success' href="/evaluar/{{e.id_evcaso}}">Evaluar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
 
{% endblock %}