<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h2>Ingrese Rut</h2>
    </div>
    <br><br>
    <input type="text" id="txt-rut" class="form-control">
    <br><br>
    <button id="btn-validar" class="btn btn-success">Validar</button>
    <br><br>
    <p id="resultado"></p>

    <script src="{% static 'home/js/validarRut.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'home/js/funcion.js' %}"></script>
    
</body>
</html>