.login-wrap{
    
}

@media (max-width: 349px){
    

}

@media(min-width: 350px) and (max-width: 390px){
    
 

}

@media(min-width: 390px) and (max-width: 413px){

  
  
    
}

@media (min-width: 413px) and (max-width: 470px) { 

   


}

 
@media (min-width: 470px) and (max-width: 491px){

  
    
 
}

@media (min-width: 491px) and (max-width: 541px){
    
 
}

@media (min-width: 541px) and (max-width: 599px) { 

    
          
}

@media (min-width: 599px) and (max-width: 650px) { 

   
      
}

@media (min-width: 650px) and (max-width: 700px) { 

   
   
}

@media (min-width: 700px) and (max-width: 725px) { 
    

}

@media (min-width: 725px) and (max-width: 765px) {

    


}

@media (min-width: 765px) and (max-width: 832px) {

   

}

@media (min-width: 833px) and (max-width: 960px) {

    
    
}

@media (min-width: 961px) and (max-width: 994px) { 

  
    

}

@media (min-width: 994px) and (max-width: 1040px) { 
   
    
   

}

@media(min-width:1041px) and (max-width: 1200px){
    
    
   

}
