
#header{
    background-color: rgba(26, 61, 88);
}

#relleno{
    background-color: rgba(45,139, 169);
}

#footer{
    background-color: rgba(26, 61, 88);
}

.btn-group, .btn-group-vertical {
    position:absolute !important;
}

table>thead>tr>th {
    background-color: red !important;
}

table>tbody>tr>td {
    vertical-align: middle;
    border: solid blue 1px;
}

#tabla table{
    margin: 0 auto;
}

div.container {
    width: 80%;
}


